In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [6]:
gtypes = pd.read_csv('data/matrix_genotypes.txt', sep='\t')
gExp = pd.read_csv('data/expression_matrix.txt', sep='\t')

In [7]:
# gtypes_cols = gtypes.columns.tolist()
# gtypes_cols.sort()
# gtypes = gtypes[gtypes_cols]

# gExp_cols = gExp.columns.tolist()
# gExp_cols.sort()
# gExp = gExp[gExp_cols]

In [8]:
print(gExp.columns)
print(gExp.index)
gExp.head()

Index(['ID', '1_1_d', '1_3_d', '1_4_d', '1_5_c', '2_2_d', '2_3_d', '2_4_a',
       '2_5_d', '2_6_d',
       ...
       '22_4_d', '22_5_d', '23_3_d', '23_5_d', '24_1_d', '25_1_d', '25_3_d',
       '25_4_d', '26_1_d', '26_2_d'],
      dtype='object', length=113)
RangeIndex(start=0, stop=7085, step=1)

,ID,1_1_d,1_3_d,1_4_d,1_5_c,2_2_d,2_3_d,2_4_a,2_5_d,2_6_d,...,22_4_d,22_5_d,23_3_d,23_5_d,24_1_d,25_1_d,25_3_d,25_4_d,26_1_d,26_2_d
0,0,0.193596,0.073614,-0.029516,0.242779,0.080216,0.190502,0.148879,-0.006213,-0.001838,...,0.047797,-0.033840,-0.589592,0.059738,0.176352,0.340129,0.045428,0.043563,0.233465,0.056853
1,1,0.421468,0.364783,-0.055167,0.154739,0.366766,0.236360,0.296089,0.058330,0.011517,...,0.129272,0.160250,0.425646,0.220291,0.099491,0.405890,0.040568,0.052593,0.593716,0.168497
2,2,0.532818,-0.418089,0.524365,-0.087390,0.758338,-0.096036,-1.653630,-0.244114,0.277910,...,-0.097825,0.172960,-0.210180,-0.075213,0.198422,0.469589,0.222343,0.069883,-0.089867,-0.078562
3,3,0.051546,0.190427,0.376688,0.426257,0.093418,0.280754,-0.140367,0.276582,0.224290,...,-0.014957,-0.272955,-0.627703,0.091265,0.316825,0.369651,0.283274,0.102358,0.078381,0.278953
4,4,0.132558,0.231792,0.295131,0.469083,0.623783,0.228012,-0.136607,0.027569,0.253613,...,0.037735,-0.102276,0.254963,-0.103942,0.363442,-0.033324,-0.149047,0.212029,-0.014357,-0.072302

In [9]:
# gtypes = gtypes[gExp.columns.tolist()]
print(gtypes.columns)
print(gtypes.index)
gtypes.head()

Index(['_probePairKey', '21_5_c', '22_2_d', '19_2_c', '19_3_c', '19_4_b',
       '19_5_b', '20_1_d', '20_2_d', '20_3_c',
       ...
       '9_4_d', '9_5_d', '9_6_d', '9_7_d', '26_2_d', '19_1_c', '21_3_d',
       '21_1_d', '15_6_c', '17_1_a'],
      dtype='object', length=113)
RangeIndex(start=0, stop=2956, step=1)

,_probePairKey,21_5_c,22_2_d,19_2_c,19_3_c,19_4_b,19_5_b,20_1_d,20_2_d,20_3_c,...,9_4_d,9_5_d,9_6_d,9_7_d,26_2_d,19_1_c,21_3_d,21_1_d,15_6_c,17_1_a
0,11265_i_at_x01,1,0,0,0,2,1,1,1,1,...,0,1,0,0,1,1,2,0,0,1
1,11265_i_at_x02,1,0,0,0,2,1,1,1,1,...,0,1,0,0,1,1,2,2,0,1
2,11276_at_x12,1,0,0,0,0,1,2,1,1,...,0,1,0,0,1,1,0,0,0,1
3,11276_at_x11,1,0,0,0,0,1,1,1,1,...,0,1,0,0,1,1,0,0,0,1
4,11276_at_x10,1,0,0,0,0,1,1,1,1,...,0,1,0,0,1,1,0,0,0,1

In [10]:
gExp['nanCount'] = gExp.apply(lambda row:row.isnull().sum(), axis=1)
gExpShort = gExp[gExp['nanCount'] < 106]
gExpShort.shape

(6609, 114)

In [11]:
print(gExpShort['nanCount'].max())
print(gExpShort.shape)

105
(6609, 114)

In [12]:
print(set(gtypes.columns) - set(gExp.columns))
print(set(gExp.columns) - set(gtypes.columns))

{'_probePairKey'}
{'ID', 'nanCount'}

# Do the imputation with all the

In [19]:
from sklearn.impute import SimpleImputer

In [22]:
MyImputer = SimpleImputer()
gExpImputed = MyImputer.fit_transform(gExpShort)